# Python
__pycache__/
*.pyc
*.pyo

# Virtualenv
venv/
.env

# SQLite
*.db

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# IDEs
.vscode/
.idea/
*.iml